:root {
    --primary-orange: #FFA500;
    --primary-gold: #FFD700;
    --primary-green: #32CD32;
    --secondary-dark-blue: #00008B;
    --secondary-light-gray: #D3D3D3;
    --accent-deep-red: #B22222;
    --neutral-white: #FFFFFF;
}

body {
    background-color: var(--neutral-white);
    color: var(--secondary-dark-blue);
	padding-top: 50px;
}

.navbar {
    background-color: var(--primary-green);
}

.navbar-brand {
    color: var(--neutral-white);
}

.nav-link {
    color: var(--neutral-white);
}

.product-card {
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 5px;
	transition: transform 0.3s;
    border-color: var(--secondary-light-gray);
}

.product-card:hover {
	transform: scale(1.05);
    border-color: var(--primary-orange);
}
.product-image {
		width: 100%;
		height: 250px;
		object-fit: cover;
	}
/* Sidebar Styling */
	.sidebar {
		position: fixed;
		top: 56px;
		right: -250px;
		height: 100%;
		width: 220px;
		background-color: #f8f9fa;
		padding-top: 20px;
		border-left: 1px solid #ddd;
		transition: right 0.5s;
		overflow-y: auto;
	}

	.sidebar.show {
		right: 0;
	}

	.sidebar .nav-link {
		color: #333;
		font-size: 18px;
	}

	.sidebar .nav-link:hover {
		background-color: #ddd;
	}

	.sidebar .dropdown-menu {
		position: static;
		float: none;
		width: 100%;
		margin-top: 0;
		border: none;
		box-shadow: none;
	}

	/* Content Shifting */
	.content {
		transition: margin-right 0.5s;
		
	}

	.content.shifted {
		margin-right: 250px; /* Sidebar width */
	}

	/* Dropdown visibility */
	.dropdown-menu {
		display: none;
	}

	.dropdown-menu.show {
		display: block;
	}

.btn-primary {
    background-color: var(--primary-orange);
    border-color: var(--primary-orange);
}

footer {
    background-color: var(--secondary-dark-blue);
    color: var(--neutral-white);
}
